*{
    padding: 0%;
    margin: 0%;
}

body{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color:#9ef01a;
    height: 9%;


}
.container :nth-child(3)
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 25px;
}
.container:nth-child(1)
{
    font-size: 50px;
    align-items: baseline;
    padding-top: 20px;
    color:#0152ff;
    padding-left: 55px;
}
.links{
    border: 2px none;
    padding:0px 27px;
    font-style: italic;

}
.links:hover{    
    background-color:rgba(240, 255, 255, 0.808);
    transition: 9ms;
    transform: scale(1.05);
    
}
a:link,:visited,:hover,:active
{
    text-decoration: none;
}

/* Section-2 Centeralized Img*/

.shoes-photos{
    height: 75%;
    width: 70%;
    margin: 2% 15%;
    list-style: none;
    position: relative;
    border: black solid;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
    border-radius: 4px;
}
img{

    height: 100%;
    width: 100%;
    position: absolute;
}

/*   Section 3   Product Details  */
 

h1 {
    text-align:center;
        font-size: 57px;
        color: #00b4d8;
        font-family: "Arial Black", Gadget, sans-serif;
        text-shadow: 0px 0px 0 rgb(-18,162,198),
                     0px 1px 0 rgb(-37,143,179),
                     0px 2px 0 rgb(-55,125,161),
                     0px 3px 0 rgb(-74,106,142),
                     0px 4px 0 rgb(-92,88,124),
                     0px 5px 0 rgb(-111,69,105),
                     0px 6px 0 rgb(-129,51,87),
                     0px 7px  0 rgb(-147,33,69),
                     0px 8px 7px rgba(0,0,0,0),
                     0px 8px 1px rgba(0,0,0,0.5),
                     0px 0px 7px rgba(0,0,0,.2);
     }

     .container-info,.container-info2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:60%;
        width: 80%;
        margin:2% 9%;   
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
     }
.div1,.div2{
    
    height: 100%;
    width: 32%;  
    box-shadow: 5px 5px 8px 5px #888888;
    border-radius: 7px;
}
.div1 img,.div2 img
{
    
    height: 32%;
    width: 25.6%;
}
.expla{
    padding-top: 65%;
}
h3,h4{
    padding-left:4%;
}
.extra{
    
    display: block;
    padding:0% 4%;
}


/*  Section 3 Contact Us    */

.container-contact{
    height: 75%;
    width: 90%;
    margin: 2% 5%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 8px 5px #888888;
    border-radius: 4px;
    
}
.contact1 img{
    height: 75%;
    width: 35%;    
}
.contact2 {
    padding-top: 2%;
    width: 61%;
    

}
textarea{
margin: 0% 1%;
width: 98%;
height: 55%;
border: #9ef01a solid;
resize: none;
}

.input1{
    margin: 10px 10px;
    height: 10%;
    width: 47%;
    border: #9ef01a solid;

}
button{
    margin-top: 4%;
    margin-left: 2%;
    height: 30px;
    width: 95%;
    background-color: #9ef01a;
}


/*Section 4  Footer*/

.footer{
    
    width: 100%;
    height: 15%;
    background-color: rgb(66, 65, 65);
    list-style: none;
  }
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer1 img{
    height: 30px;
    width: 30px;
}
.footer1 img:hover{
    background-color:#9ef01a;
}
.footer h4{
    text-align: center;
    margin-top:5%;
}



/*Responsive Check*/

@media screen and (max-width:1240px),(max-width:1200px)
{
    textarea{
        height: 40%;
    }
  
    .container-info,.container-info2{
        height:70%;
     }
     textarea{
        margin: 0% 2%;
        width: 93%;
        height: 45%;
        border: #9ef01a solid;
        resize: none;
        }
        
        .input1{
            margin: 10px 10px;
            height: 10%;
            width: 45%;
            border: #9ef01a solid;
        
        }
        button{
            margin-top: 4%;
            margin-left: 2%;
            height: 30px;
            width: 95%;
            background-color: #9ef01a;
        }
        .footer2{
            margin-top: -2%;
        }
}
@media screen and (max-width:850px) 
{
    .container :nth-child(3)
    {
        font-size: 5px;
    }
    .container :nth-child(1)
    {
        font-size: 20px;
    }
    .container{
        height: 50px;
    }
    .shoes-photos{
        height: 25%;
        width: 50%;
        margin: 2% 25%;
        list-style: none;
    }
    h1{
        font-size: 32px;
    }
    .container-info,.container-info2{
        height:35%;
        width: 50%;
        margin:1% 25%;   
        font-size:8px;
     }
     .div1 img,.div2 img
    {
     height: 15%;
    width: 16%;
    }

.contact1 img{
    height: 25%;
    width: 35%;    
}
.contact2 {
    padding-top: 0%;
    width: 61%;
    

}
textarea{
margin: 0% 0.5%;
width: 94%;
height: 30%;
border: #9ef01a solid;
resize: none;
}

.input1{
    margin: 5px 3px;
    height: 12%;
    width: 46%;
    border: #9ef01a solid;


}
button{
    margin-top: 4%;
    margin-left: 2%;
    height: 20px;
    width: 95%;
    background-color: #9ef01a;
}
.container-contact{
    height: 35%;
    width: 90%;
    margin: 2% 5%;
    
}
.contact1 img{
    height: 35%;
}
.footer{
    
    width: 100%;
    height: 5%;
  }

}
@media screen and (max-width:3650px){
    .expla{
        padding-top: 75%;
    }
    .footer{
        height: 12%;
    }
}
@media  screen and (max-width:650px) {
    .container{
        width: 80%;
    }
    .container :nth-child(3)
    {
        font-size: 2px;
    }
    .container :nth-child(1)
    {
        font-size: 10px;
        padding-left: 0%;
    }
    .expla
    {
        margin-top: 20%;
    }
    .footer2{
        height: 35px;
        font-size: 10px;
        padding-top: 15px;
    }
    
}
@media  screen and (max-width:320px)
{
    .expla
    {
        margin-top: 60%;
    }
    .container-info,.container-info2
    {
        width: 100%;
        height: 250px;
        margin: 2% 8%;
    }
    .container{
        flex-direction: column;
        width: 100%;
        height: 20%;
        font-size: 15px;
    }
    .container :nth-child(3)
    {
        width: 1%;
        
    }
    .container :nth-child(1)
    {

        font-size: 25px;
        text-align: center;
        margin-left: 25%;
    }
    .container-contact
    {
        width: 100%;
    }
    .div1 img,.div2 img
    {
        width: 32%;
        height: 25%;
    }
    .footer{
        width: 115%;
        margin: 5% 0;
    }

}